**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/as-with).**

---

# Introduction

You are getting to the point where you can own an analysis from beginning to end. So you'll do more data exploration in this exercise than you've done before.  Before you get started, run the following set-up code as usual.

In [60]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex5 import *
print("Setup Complete")

Setup Complete

You'll work with a dataset about taxi trips in the city of Chicago. Run the cell below to fetch the `chicago_taxi_trips` dataset.

In [61]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_taxi_trips" dataset
dataset_ref = client.dataset("chicago_taxi_trips", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

You are curious how much slower traffic moves when traffic volume is high. This involves a few steps.

### 1) Find the data
Before you can access the data, you need to find the table name with the data.

*Hint*: Tab completion is helpful whenever you can't remember a command. Type `client.` and then hit the tab key. Don't forget the period before hitting tab.

In [62]:
# Your code here to find the table name
tables = list(client.list_tables(dataset))
for table in tables:
    print(table.table_id)

taxi_trips

In [63]:
# Write the table name as a string below
table_name = 'taxi_trips'

# Check your answer
q_1.check()

Correct

For the solution, uncomment the line below.

### 2) Peek at the data

Use the next code cell to peek at the top few rows of the data. Inspect the data and see if any issues with data quality are immediately obvious.

In [64]:
# You9r code here

table_ref = dataset_ref.table("taxi_trips")
table = client.get_table(table_ref)
client.list_rows(table,max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  """

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,f385287f79f5b6b6c7be22c2e791cc7375e0a624,e3dfbf8807f36c9b93c54262b9e5f4580b45dbd443055e...,2018-03-03 22:00:00+00:00,2018-03-03 22:00:00+00:00,477,1.1,1.703108e+10,1.703184e+10,8,32,...,2.0,8.75,Credit Card,Flash Cab,41.892508,-87.626215,POINT (-87.6262149064 41.8925077809),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707)
1,63a7c93a23cacd210cb98317f430c85a2a830d17,08e4c675f870d249230823ad91ae3549849d86ae58c4e8...,2018-05-09 16:15:00+00:00,2018-05-09 16:30:00+00:00,464,1.0,1.703108e+10,1.703184e+10,8,32,...,0.0,6.75,Cash,American United,41.893216,-87.637844,POINT (-87.6378442095 41.8932163595),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707)
2,7aaa6a84614358bd385e06821225c4ec63451765,6fa0364cac8d604e8a7613c08fdcbe5bfa05e361d4a758...,2018-03-07 08:30:00+00:00,2018-03-07 08:30:00+00:00,15,0.0,1.703108e+10,1.703108e+10,8,8,...,0.0,3.25,Cash,Flash Cab,41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),41.892042,-87.631864,POINT (-87.6318639497 41.8920421365)
3,e5c310dc02fd8acaf048b8fa61d8c4bab9aaf1a8,9384fe43c85ea79b559e1188660e27f3a10900e16b7ae4...,2018-03-05 17:00:00+00:00,2018-03-05 17:00:00+00:00,728,2.4,NaN,NaN,7,8,...,0.0,9.75,Cash,Flash Cab,41.922686,-87.649489,POINT (-87.6494887289 41.9226862843),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)
4,67e351e2843bbbcd2df0eddc05ae930360ee7340,03cc788ae35f829575456d05381274aab1700ba7b0ea78...,2018-03-02 09:30:00+00:00,2018-03-02 09:45:00+00:00,1588,6.5,NaN,NaN,24,77,...,0.0,25.31,Credit Card,Flash Cab,41.901207,-87.676356,POINT (-87.6763559892 41.90120699410001),41.986712,-87.663416,POINT (-87.6634164054 41.9867117999)

After deciding whether you see any important issues, run the code cell below.

In [65]:
# Check your answer (Run this code cell to receive credit!)
q_2.solution()

Solution:
You can see the data by calling:
```python
# Construct a reference to the "taxi_trips" table
table_ref = dataset_ref.table("taxi_trips")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "taxi_trips" table
client.list_rows(table, max_results=5).to_dataframe()
```

Some trips in the top few rows have `trip_seconds` or `trip_miles` values of 0.
Other location fields have values of `None`. That is a problem if we want to use those fields.

### 3) Determine when this data is from

If the data is sufficiently old, we might be careful before assuming the data is still relevant to traffic patterns today. Write a query that counts the number of trips in each year.  

Your results should have two columns:
- `year` - the year of the trips
- `num_trips` - the number of trips in that year

Hints:
- When using **GROUP BY** and **ORDER BY**, you should refer to the columns by the alias `year` that you set at the top of the **SELECT** query.
- The SQL code to **SELECT** the year from `trip_start_timestamp` is <code>SELECT EXTRACT(YEAR FROM trip_start_timestamp)</code>
- The **FROM** field can be a little tricky until you are used to it.  The format is:
    1. A backick (the symbol \`).
    2. The project name. In this case it is `bigquery-public-data`.
    3. A period.
    4. The dataset name. In this case, it is `chicago_taxi_trips`.
    5. A period.
    6. The table name. You used this as your answer in **1) Find the data**.
    7. A backtick (the symbol \`).

In [66]:
# Your code goes here
rides_per_year_query = """
    SELECT EXTRACT(YEAR FROM trip_start_timestamp) AS year, 
    COUNT(1) AS num_trips
    FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    GROUP BY year
    ORDER BY num_trips DESC
"""

# Set up the query (cancel the query if it would use too much of 
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_year_query_job = client.query(rides_per_year_query,job_config=safe_config)


# API request - run the query, and return a pandas DataFrame
rides_per_year_result = rides_per_year_query_job.to_dataframe() # Your code goes here

# View results
print(rides_per_year_result)

# Check your answer
q_3.check()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

   year  num_trips
0  2014   37395079
1  2015   32385527
2  2016   31756403
3  2013   27217300
4  2017   24979611
5  2018   20731105
6  2019   16476440
7  2022    5868516
8  2021    3947677
9  2020    3888831

Correct

### 4) Dive slightly deeper

You'd like to take a closer look at rides from 2017.  Copy the query you used above in `rides_per_year_query` into the cell below for `rides_per_month_query`.  Then modify it in two ways:
1. Use a **WHERE** clause to limit the query to data from 2017.
2. Modify the query to extract the month rather than the year.

In [67]:
# Your code goes here
rides_per_month_query = """ 
    SELECT EXTRACT(MONTH FROM trip_start_timestamp) AS month, 
    COUNT(1) AS num_trips
    FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
    WHERE EXTRACT(YEAR FROM trip_start_timestamp) = 2017
    GROUP BY month
    ORDER BY num_trips DESC
"""

# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_month_query_job = client.query(rides_per_month_query,job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
rides_per_month_result = rides_per_month_query_job.to_dataframe()

# View results
print(rides_per_month_result)

# Check your answer
q_4.check()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

    month  num_trips
0       3    2361634
1       6    2323672
2       5    2322631
3       4    2194344
4      10    2140326
5       8    2078623
6       7    2053471
7       1    1971708
8       9    1949427
9       2    1909479
10     11    1906884
11     12    1767412

Correct

### 5) Write the query

It's time to step up the sophistication of your queries.  Write a query that shows, for each hour of the day in the dataset, the corresponding number of trips and average speed.

Your results should have three columns:
- `hour_of_day` - sort by this column, which holds the result of extracting the hour from `trip_start_timestamp`.
- `num_trips` - the count of the total number of trips in each hour of the day (e.g. how many trips were started between 6AM and 7AM, independent of which day it occurred on).
- `avg_mph` - the average speed, measured in miles per hour, for trips that started in that hour of the day.  Average speed in miles per hour is calculated as `3600 * SUM(trip_miles) / SUM(trip_seconds)`. (The value 3600 is used to convert from seconds to hours.)

Restrict your query to data meeting the following criteria:
- a `trip_start_timestamp` between **2017-01-01** and **2017-07-01**
- `trip_seconds` > 0 and `trip_miles` > 0

You will use a common table expression (CTE) to select just the relevant rides.  Because this dataset is very big, this CTE should select only the columns you'll need to create the final output (though you won't actually create those in the CTE -- instead you'll create those in the later **SELECT** statement below the CTE).

This is a much harder query than anything you've written so far.  Good luck!

In [68]:
# Your code goes here
speeds_query = """
               WITH RelevantRides AS
               (
                   SELECT trip_miles,trip_seconds, EXTRACT(HOUR FROM trip_start_timestamp) AS hour_of_day
                   FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                   WHERE trip_seconds > 0 AND trip_miles > 0
                   AND trip_start_timestamp >"2017-01-01"  
                   AND trip_start_timestamp <"2017-07-01"
               )
               SELECT hour_of_day,COUNT(1) AS num_trips,
               3600 * SUM(trip_miles)/SUM(trip_seconds) AS avg_mph
               FROM RelevantRides
               GROUP BY hour_of_day
               ORDER BY hour_of_day
               """

# Set up the query
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
speeds_query_job = client.query(speeds_query,job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
speeds_result = speeds_query_job.to_dataframe()

# View results
print(speeds_result)

# Check your answer
q_5.check()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

    hour_of_day  num_trips    avg_mph
0             0     319326  20.231735
1             1     266525  18.937962
2             2     210147  18.777070
3             3     159666  20.158374
4             4     122183  26.736014
5             5     119311  30.769411
6             6     182736  24.588560
7             7     358403  17.736209
8             8     541745  15.081015
9             9     565455  16.547683
10           10     525030  18.543678
11           11     594522  18.931559
12           12     622249  17.841610
13           13     630109  17.673604
14           14     622402  16.976330
15           15     640348  15.691071
16           16     701345  14.286536
17           17     756535  12.464977
18           18     768159  13.648912
19           19     700962  16.646259
20           20     598536  19.540297
21           21     552658  20.436899
22           22     501059  19.533171
23           23     399573  19.878003

Correct